################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Kiosk/bin/Debug/net8.0-windows
/.vs
/Kiosk/obj
